<div class="login">
  <h2 class="login-header">Sign up</h2>

  <form class="login-container">
    <p><input type="text" id="login" name="login" placeholder="Login"></p>
    <p id="alreadyExist"></p>
    <p><input type="text" id="password" name="password" placeholder="Password"></p>
    <p class="center green" id="success"></p>
    <p><input type="button" onclick="add_user();"  value="Sign up"></p>
    <p class="center">Already a member? <a class="pointer" onclick="showAuthorisationFormLogin();">Log in now</a> </p>
  </form>
</div>