<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<script type="text/javascript">
    function showAuthorisationFormLogin(){
        $.ajax({
            url: '/authorisationFormLogin',
            type: 'get',
            success: function(data) {
                $('#showAuthorisation')[0].innerHTML = data
            }
        });
        $('#changeAuthorisationBtn').attr("onclick", "closeAuthorisationForm();")
    }

    function closeAuthorisationForm(){
        $('#changeAuthorisationBtn').attr("onclick", "showAuthorisationFormLogin();")
        $('#showAuthorisation')[0].innerHTML = ""
    }

    function add_user(){
        $.ajax({
            url:'/authorisation/user/add',
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                login: $('#login').val(),
                password: $('#password').val()
            }),
            success: function (data){
                if(data.loginAnswer === "denied"){
                    $('#alreadyExist')[0].innerHTML = "Такой пользователь уже существует"
                } else {
                    $('#alreadyExist')[0].innerHTML = ""
                    $('#login').val('')
                    $('#password').val('')
                    $('#success')[0].innerHTML="Вы успешно добавили пользователя"
                    setTimeout(function() {
                        showAuthorisationFormLogin()
                    }, 3000);
                }
            }
        })
    }
    function showAuthorisationFormSignup(){
        $.ajax({
            url: '/authorisationFormSignup',
            type: 'get',
            success: function(data) {
                $('#showAuthorisation')[0].innerHTML = data
            }
        });
    }

    function logout(){
        $.ajax({
            url:'/authorisation/user/logout',
            type:'GET'
        })
        $('#changeAuthorisationBtn').html('Authorisation')
        $('#changeAuthorisationBtn').attr("onclick", "showAuthorisationFormLogin();")
    }

    function login_user(){
        $.ajax({
            url:'/authorisation/user/login',
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                login: $('#login').val(),
                password: $('#password').val()
            }),
            success: function (data){

                if(data.loginAnswer === "incorrect login"){
                    $('#incorrectLogin')[0].innerHTML="Неверный логин"
                    $('#incorrectPassword')[0].innerHTML = ""
                } else{
                    $('#incorrectLogin')[0].innerHTML=""
                    if(data.passwordAnswer === "incorrect password"){
                        $('#incorrectPassword')[0].innerHTML = "Неверный пароль"
                    }else{
                        $('#incorrectPassword')[0].innerHTML = ""
                        $('#changeAuthorisationBtn').html($('#login').val())
                        $('#changeAuthorisationBtn').attr("onclick", "logout();")
                        $('#showAuthorisation').html("")
                    }
                }
            }
        })
    }
    function showNoticeAddPage(){
        $.ajax({
            url: '/addNotice',
            type: 'get',
            success: function(data) {
                $('#addNotices').html(data)
            }
        });
    }
    function test(){
        $.ajax({
            url:'/api/v1/addNotice',
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                date: $('#date').val(),
                month: $('#month').val(),
                year: $('#year').val(),
                notice: $('#notice').val()
            }),
            success:
        });
    }
</script>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">MySite</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><button onclick="showNoticeAddPage();" class="nav-link active" aria-current="page">Home</button></li>
            <li class="nav-item"><button onclick="showAuthorisationFormLogin();" id="changeAuthorisationBtn" class="nav-link">Authorisation</button></li>
            <!--        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>-->
            <!--        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>-->
            <!--        <li class="nav-item"><a href="#" class="nav-link">About</a></li>-->
        </ul>
    </header>
</div>
<div id="addNotices"></div>
<div id="showAuthorisation" ></div>
</body>
</html>