<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
<script>
    function test(){
        $.ajax({
            url:'/api/v1/addNotice',
            dataType: 'json',
            type: 'POST',
            cache: false,
            contentType: 'application/json',
            data: JSON.stringify({
                date: $('#date').val(),
                month: $('#month').val(),
                year: $('#year').val(),
                notice: $('#notice').val()
            })
        })
    }
</script>
<form>
  <p><input type="text" id="date" name="date" placeholder="date"></p>
  <p><input type="text" id="month" name="month" placeholder="month"></p>
  <p><input type="text" id="year" name="year" placeholder="year"></p>
  <p><input type="text" id="notice" name="notice" placeholder="notice"></p>
  <p><button type="submit" onclick="test();" value="Добавить">Добавить</button></p>
</form>
</body>
</html>